
body {
    margin:0;
    background-image: url("background-1.jpg");
    background-size: 28%;
    background-repeat: repeat;
}
.my-navbar {
    background: white;
    
    padding: 20px; 
}

.name {
    color: white;
    background-color: rgb(219, 159, 189);
    height:100%;
}

.container {
    background-color: white;
}

hr {
    display: block;
    color: grey;

}

.header {
    color:rgb(219, 159, 189);
}

.bio-image{
    float: left;
}

p {
    color: grey;
}

img{
    width:300px;
    height:300px;
}

.gallery{
    margin:20px;
}

.row {
    margin-top: 20px;
}

.bottom{
    position: absolute;
    bottom: 10px;
    margin:20px;
    background-color: powderblue;
    width:50%;
    text-align: center;
    color:white;
    font-size:25px;
}

